/*@font-face {
    font-family: main;
    src: url(../../../fonts/main.ttf);
}
@font-face {
    font-family: hw;
    src: url(../../../fonts/handwriting.ttf);
}*/

div#program_launcher {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background: rgb(27, 27, 27);
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-right-color: white;
    border-top-color: white;
    z-index: 9;
}
div#program_launcher > img#user_image {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 10%;
    object-fit: cover;
}
div#program_launcher > span#user_name {
    position: absolute;
    top: calc(1% + (2vw) + 1%);
    left: calc(1% + 10% + 1%);
    font-family: main;
    font-size: 2vw;
}

div#program_launcher > div#programs {
    position: absolute;
    top: calc((2% + (2vw * 2)) + 2.5%);
    left: 0;
    width: 100%;
    height: 80%;
    margin: 0;

    border-style: outset;
    border-width: 3px;
    border-color: white;
    border-left: none;
    border-right: none;
}
div#program_launcher > div#programs > input[type=search]:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background: rgb(15, 15, 15);
    color: white;
    font-family: main;
    font-size: 3vh;

    padding: 1%;
    padding-top: 0;
    padding-bottom: 0;

    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
}
div#program_launcher > div#programs > div#list {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    height: calc(100% - 7%);
    contain: content;
    overflow: hidden auto;
}
div#program_launcher > div#programs > div#list > button {
    position: relative;
    top: 1%;
    left: 1%;

    margin: 0;
    margin-bottom: 1%;
    padding: 2vh;

    width: 98%;
    height: auto;
    background: rgb(15, 15, 15);
    color: white;
    border: 3px white outset;
    font-family: main;
    font-size: 3vh;
}
div#program_launcher > div#programs > div#list > button:last-child {margin-bottom:2%}
div#program_launcher > div#programs > div#list > button > img {
    position: absolute;
    top: 1vh;
    left: 1vh;
    height: calc(100% - 2vh);
    object-fit: contain;
}
div#program_launcher > div#programs > div#list > button:hover {background: rgb(40, 40, 40)}
div#program_launcher > div#programs > div#list > button:active {background: rgb(27, 27, 27)}

div#program_launcher > div#actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(20% - ((2% + (2vw * 2)) + 3%) - (3px));
}
div#program_launcher > div#actions > button {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(15, 15, 15);
    color: white;
    border: none;
    border-right: 3px white outset;
    font-family: main;
    font-size: 2vh;
    cursor: pointer;
}
div#program_launcher > div#actions > button:nth-child(2) {
    left: 50%;
    border: none;
}
div#program_launcher > div#actions > button:hover {background: rgb(40, 40, 40)}
div#program_launcher > div#actions > button:active {background: rgb(27, 27, 27)}
