@font-face {
    font-family: main;
    src: url(../../fonts/main.ttf);
}
@font-face {
    font-family: hw;
    src: url(../../fonts/handwriting.ttf);
}

div#taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    opacity: 1;
    background: rgb(15, 15, 15);
    border-top: 1px transparent solid;
}
div#taskbar:hover {border-color: grey;}
div#taskbar > button#program_launcher {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: transparent;
    border: none;
}
div#taskbar > button#program_launcher:hover {filter: brightness(2)}
div#taskbar > button#program_launcher:active {filter: brightness(1.4)}
div#taskbar > button#program_launcher > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
div#taskbar > div#programs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div#taskbar > div#programs > button {
    position: relative;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 100%;
    background: transparent;
    border: none;

    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: transparent;
}
div#taskbar > div#programs > button > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
div#taskbar > div#programs > button.opened {
    background: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.3);
}
div#taskbar > div#programs > button.active {
    background: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.6);
}
div#taskbar > div#programs > button.awaiting {
    background: rgba(255, 123, 0, 0.3);
    border-bottom-color: rgba(255, 123, 0, 0.6);
}
div#taskbar > div#programs > button:hover {filter: brightness(2)}
div#taskbar > div#programs > button:active {filter: brightness(1.4)}



div#taskbar > button#tray {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}
div#taskbar > button#tray > img {
    /* position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; */
    position: relative;
    top: 0;
    left: calc(100% - 103%);
    margin-left: calc(100% / (6 * 4));
    width: calc(100% / 6);
    height: calc(100%);
    object-fit: contain;
}


div#taskbar > button#clock {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: white;
    font-family: main;
    font-size: 100%;
}

div#taskbar > button#tray:hover,
div#taskbar > button#clock:hover {background: rgba(255, 255, 255, 0.2)}

div#taskbar > button#tray:active,
div#taskbar > button#clock:active {background: rgba(255, 255, 255, 0.1)}
